{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>DESCARTEZap</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="{% url 'paginas:home' %}"><span>DESCARTE</span>Zap<br />
          <small>SEU ÓLEO DE COZINHA DESCARTADO CORRETAMENTE</small></a></h1>
      </div>
      <div class="clr"></div>
      <div class="menu">
        <ul>
          <li><a href="index.html" class="active"><span>NOSSA EMPRESA</span></a></li>
          <li><a href="#"><span>SERVIÇOS</span></a></li>
          <li><a href="#"><span>NATUREZA</span></a></li>
          <li><a href="{% url 'paginas:home' %}" class="active"><span> CADASTRO DOAR </span></a></li>
          <link href="{% url 'paginas:home' %}"></span></span></a></link>
        </ul>
      </div>

      <div class="search">/
        <form id="form1" name="form1" method="post" action="">
          <label><span>
            <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Pesquisa..." />
             <a href="{% url 'account_logout' %}"> <span> Sair </span></a>
            <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span id="usarname">{{ request.user }} </span>
                        </a>
                     </li>
          </span>
            <input name="b" type="image" src="{% static 'img/search.gif' %}" class="button" />
          </label>
        </form>
      </div>
      <div class="clr"></div>
    </div>
    <div class="headert_text_resize"> <img src="{% static 'img/img_main.jpg' %}" alt="" width="970" height="338" /> </div>
    <div class="clr"></div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="left">
        <h2>APOSTE NO FUTURO<br />
          <span> 15 Setembro 2021 | PRESERVE O FUTURO DOS SEUS FILHOS!</span> </h2>
        <img src="{% static 'img/peixe-oleo.jpg' %}" alt="" width="610" height="180" />
        <div class="clr"></div>
        <p>O óleo de cozinha é uma mistura de substâncias (ácidos graxos insaturados) que não apresenta solubilidade alguma na água, pois ele é apolar, e a água, polar. Assim, sempre que o óleo entra em contato com água, não ocorre a sua dissolução, e eles ficam separados em virtude da diferença de densidade.</p>
        <p> <a href="https://www.manualdaquimica.com/quimica-ambiental/poluicao-provocada-pelo-oleo-cozinha.htm">CLIQUE AQUI PARA SABER MAIS.</a><br />
        </p>
        <h2>MANEIRA ERRADA DE DESCARTE<br />
          <span>15 SETEMBRO 2021 | NÃO FAÇA ISSO | VOÇÊ POLUI OS RIOS </span></h2>
        <img src="{% static 'img/FRIGIDEIRA.jpg' %}" alt="" width="610" height="170" />
        <div class="clr"></div>
        <p><a href="https://www.ecycle.com.br/descarte-de-oleo-de-cozinha/">Clique aqui e aprenda a maneira correta .</a> Diariamente, em residências, lanchonetes e restaurantes, por exemplo, o óleo de cozinha
          é bastante utilizado na preparação de alimentos em geral. Infelizmente, muitas pessoas descartam o óleo utilizado de qualquer forma, não se preocupando com a poluição provocada por ele,A camada de óleo sobre a água prejudica a entrada de luz e de gás oxigênio.
           Dessa forma, os peixes passam a ter uma oferta menor de oxigênio disponível, o que pode causar a morte desses seres. A diminuição da incidência de luz no ambiente aquático, por sua vez, prejudica todos os processos fotoquímicos nos quais ela é importante, ou seja,
            o ecossistema aquático. O desenvolvimento do fitoplâncton, por exemplo, fica bastante comprometido. Vale lembrar que eles são a base da cadeia alimentar aquática.</p>
        <p><a href="#">CLIQUE AQUI PARA SABER MAIS.</a></p>
      </div>
      <div class="right">
        <h2>ORGÃOS DE PRESERVAÇÃO</h2>
        <ul>
          <li><a href="https://www.gov.br/mma/pt-br">MINISTÉRIO DO MEIO AMBIENTE</a></li>
          <li><a href="https://www.gov.br/icmbio/pt-br">ICMBIO</a></li>
          <li><a href="https://brasil.un.org/pt-br/sdgs/6">ONU</a></li>
          <li><a href="https://cetesb.sp.gov.br/emergencias-quimicas/tipos-de-acidentes/vazamentos-de-oleo/caracteristicas-do-oleo/intemperismo-do-oleo/">CETESB</a></li>
          <li><a href="#http://www.ibama.gov.br/residuos/oleos">IBAMA</a></li>
        </ul>
        <h2>IDÉIAS </h2>
        <ul class="sponsors">
          <li class="sponsors"><a href="https://www.ecycle.com.br/descarte-de-oleo-de-cozinha/">TODA ACOMUNIDADE GANHA</a><br />
            Quando voçê faz sua parte não só a sua Cidade ganha ...</li>
          <li class="sponsors"><a href="https://clickpetroleoegas.com.br/homem-do-rio-grande-do-sul-cria-carro-movido-a-oleo-de-cozinha-que-anda-ate-10km-por-litro/">Carros podem até andar com oleo de cozinha</a><br />
            No Rio Grande do Sul, o ecologista Paulo Roberto Lenhardt, foi o primeiro homem.....</li>
          <li class="sponsors"><a href="https://www.correiobraziliense.com.br/app/noticia/tecnologia/2018/08/20/interna_tecnologia,700869/oleo-de-cozinha-em-gas-para-gerar-eletricidade.shtml">Energia pode ser gerada pelo oleo de cozinha</a><br />
            Processo químico transforma resíduos gordurosos, como as sobras do óleo de cozinha.....</li>
          <li class="sponsors"><a href="https://www.tuacasa.com.br/sabao-caseiro/">DICAS PARA FAZER SABÃO CASEIRO</a><br />
            Sabão caseiro… Se você está querendo economizar</li>
          <li class="sponsors"><a href="https://www.gazetadigital.com.br/suplementos/casa-e-cia/tinta-e-feita-com-oleo-de-cozinha-reciclado/238211/">ATÉ TINTA DÁ PARA FAZER COM OLEO DE COZINHA</a><br />
            Quando preparamos a tinta óleo, precisamos de......</li>
          <li class="sponsors"><a href="https://www.gazetadigital.com.br/suplementos/casa-e-cia/tinta-e-feita-com-oleo-de-cozinha-reciclado/238211">ATÉ A SOGRA FICA FELIZ!!!</a><br />
            loren xxxxxxxxxxxxxxxxxxxxxxxx</li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="FBG">
    <div class="FBG_resize">
      <div class="blok">
        <h2><span>GALERIA </span>DE IMAGENS</h2>
        <img src="{% static 'img/imagen01.jpg' %}" alt="" width="68" height="68" />
        <img src="{% static 'img/imagen02.jpg' %}" alt="" width="68" height="68" />
        <img src="{% static 'img/imagen03.jpg' %}" alt="" width="68" height="68" />
        <img src="{% static 'img/imagen04.jpeg'%}" alt="" width="68" height="68" />
        <img src="{% static 'img/imagen05.jpg' %}" alt="" width="68" height="68" />
        <img src="{% static 'img/imagen06.jpg' %}" alt="" width="68" height="68" />
        <div class="clr"></div>
        <h2>Contato para Informações </h2>
        <p><strong>TELEFONE</strong>:XXXXXX<br />
          <strong>ENDEREÇO</strong>: xxxxxxxx <br />
          <strong>E-mail:</strong> xxxx@xxxxxxx.com<br />
          <a href="#">Contatos</a></p>
      </div>
      <div class="blok">
        <h2><span>DICAS DE </span>SUSTENTABILIDADE</h2>
        <p>– Armazene e leve a um posto de coleta  Coloque a sobra da fritura em uma garrafa PET limpa e entregue em um posto de coleta para que seja reciclado corretamente. Pesquise e conheça os locais próximos da sua casa.
          – Transforme-o em sabão caseiro Você mesmo pode dar um novo destino ao óleo de cozinha. A receita é simples e pode ser feita em casa:
          Materiais: 5 litros de óleo de cozinha usado, 2 litros de água, 200 mililitros de amaciante, 1 quilo de soda cáustica em escama. <br />
         </p>
        <ul>
          <li><a href="https://www.tendaatacado.com.br/dicas/conheca-boas-praticas-para-o-descarte-de-oleo-de-cozinha">• Separe a PET,um pote de vidro com tampa. ..</a></li>
          <li><a href="#">• COLOQUEM MAIS COISA</a></li>
          <li><a href="#">• COLOQUEM MAIS COISA </a></li>
          <li><a href="#">• COLOQUEM MAIS COISA</a></li>
        </ul>
      </div>
      <div class="blok">
        <h2>Reciclagem de óleo tem potencial de negócio</h2>
        <p>O óleo é um dos itens mais consumidos na refeição do brasileiro.  Além de utilizado em frituras, compõe leguminosas, carnes e frutas e é ingrediente para fabricação de pães e massas.

          Apesar de largamente consumido, a reciclagem de óleo de cozinha, uma solução sustentável, ainda é pouco frequente no Brasil. Esta matéria traz uma estimativa de que apenas 1% do óleo de cozinha é reciclado no país. Cada família brasileira descarta, em média, 1 litro de óleo mensalmente, no entanto, 99% o despejam na pia da cozinha.</p>
        <p> <a href="https://www.vgresiduos.com.br/blog/quatro-dicas-para-empreender-com-reciclagem-de-oleo-de-cozinha/">CONTINUA...</a></p>
        </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">UNIVESP &copy; <a href="#">REGISTRO DOS ALUNOS UNIVESP</a>. </p>
      <p class="rf">(DESENVOLVIDO PELOS MELHORES) <a target="_blank" href="https://univesp.br/"> UNIVESP A MELHOR UNIVERSIDADE QUE EXISTE--2021--</a></p>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>
